@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Courgette', cursive;
}
.counter-header{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
    align-items: center;
}
.counter-header h2{
    margin-bottom: 0.5rem;
}

.counter-wrapper{
    width: 100%;
    height: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.counter-elements {
    width: 90%;
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}

.counter-elements {
    font-family: sans-serif;
    font-weight: bold;
    margin: 0.5rem;
}

.counter-button{
    content: '';
    padding-bottom: 0.3rem;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    text-align: center;   
    background-color: darkcyan;
    color: aliceblue;
    border: none;
    margin: 1rem;
    font-family: sans-serif;
    font-size: 2rem;
    cursor: pointer;   
    
}
.counter-button:hover{
    background-color:cadetblue;
}  
  .counter-button:active {
    transform: translateY(-2px);
    border: 0.1rem solid grey;
    border-radius: 50%;
  }  

#number{
    font-family: sans-serif;
    width: 3rem;
    height: 3rem;
    text-align: center;
    font-weight: bold;
    font-size: 2.5rem;
}


