* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(247, 217, 207);
    padding: 2rem;
}

.foxes-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(247, 217, 207);
}

#fox-img{
    width: 20rem;
    height: auto;
    border-radius: 1rem;
    margin: 1rem;
}

#change-fox-button {
    background-color: dodgerblue;
    color: aliceblue;
    min-width: 6rem;
    padding: 0.5rem;
    text-transform: capitalize;
    margin: 1rem;
    border: none;
    border-radius: 0.5rem;
}

#change-fox-button:hover{
    background-color: darkblue;
}

#change-fox-button:active{
    transform: translate(1px, -1px);
}



